{% extends 'base.html.twig' %}

{% block title %}RetroAchievements Games{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="container">
        <div class="row">
            <h1>RetroAchievements Games</h1>
        </div>

        <div id="filters" class="row">
            <div class="col hide-empty">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="hide-empty" id="hide-empty-false" value="">
                    <label class="form-check-label" for="hide-empty-false">
                        Show all
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="hide-empty" id="hide-empty-true" value="1" checked>
                    <label class="form-check-label" for="hide-empty-true">
                        Show only games with achievements
                    </label>
                </div>
            </div>
            <div class="col hide-hacks">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="hide-hacks" id="hide-hacks-false" value="">
                    <label class="form-check-label" for="hide-hacks-false">
                        Show all
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="hide-hacks" id="hide-hacks-true" value="1" checked>
                    <label class="form-check-label" for="hide-hacks-true">
                        Hide Hacks
                    </label>
                </div>
            </div>
            <div class="col hide-events">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="hide-events" id="hide-events-false" value="">
                    <label class="form-check-label" for="hide-events-false">
                        Show all
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="hide-events" id="hide-events-true" value="1" checked>
                    <label class="form-check-label" for="hide-events-true">
                        Hide Events
                    </label>
                </div>
            </div>
            <div class="col filter-console">
                <select name='filter-console' id='filter-console' class='select2select filter'>
                        <option value="">--Choose a console--</option>
                        {% for console in consoles %}
                        <option value='{{console.id}}'>{{console.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <table id="games">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Console</th>
                    <th>nbAchievements</th>
                    <th>createdAt</th>
                    <th>updatedAt</th>
                    <th>totalPoints</th>
                    <th>Game ID</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
                <tr>
                    <th>Game</th>
                    <th>Console</th>
                    <th>nbAchievements</th>
                    <th>createdAt</th>
                    <th>updatedAt</th>
                    <th>totalPoints</th>
                    <th>Game ID</th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
{% block stylesheets %}
    {{parent()}}
    <link rel="stylesheet" type="text/css" href="/css/datatables/jquery.dataTables.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock %}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/datatables/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
    $(document).ready( function () {
        var table = $('#games').DataTable({
            processing: true,
            serverSide: true,
            serverMethod: 'post',
            aaSorting: [[3, 'desc']],
            ajax: {
                url: '{{path('app_api')}}',
                data: function(data){
                    var game = $('#game_filter').val();
                    var hideEmpty = $('input[name="hide-empty"]:checked').val();
                    var hideHacks = $('input[name="hide-hacks"]:checked').val();
                    var hideEvents = $('input[name="hide-events"]:checked').val();
                    var consolesIds = [];
                    var consoleId = $('select[name="filter-console"]').children('option:selected').val();

                    data.searchByGame = game;
                    data.hideEmpty = hideEmpty;
                    data.hideHacks = hideHacks;
                    data.hideEvents = hideEvents;
                    data.consoleId = consoleId;
                 },
                dataSrc: 'aaData',
            },
            columns: [
                {
                    data: 'name',
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<a href='https://retroachievements.org/game/"+oData.raId+"'>"+oData.name+"</a>");
                    },
                },
                { data: 'consoleName' },
                { data: 'nbAchievements' },
                { data: 'createdAt' },
                { data: 'updatedAt' },
                { data: 'totalPoints' },
                { data: 'raId', sortable:false },
            ],
        });
        $('#game_filter').change(function(){
          table.draw();
        });
        $('input[name="hide-empty"]').change(function() {
            table.draw();
        })
        $('input[name="hide-hacks"]').change(function() {
            table.draw();
        })
        $('input[name="hide-events"]').change(function() {
            table.draw();
        })
        $('select[name="filter-console"]').change(function() {
            table.draw();
        })
    } );
    </script>
    <script>
    $(document).ready(function() {
        $('.select2select').select2();
    });
    </script>

{% endblock %}
